
/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
}
/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -125px;
}
/* 鼠标样式 */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    /* 这里改变跟随的底色 */
    background: rgb(57, 197, 187);
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}

:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}


/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}

/*哔哩哔哩视频适配*/
.aspect-ratio {
    position: relative;
    width: 90%;
    height: auto;
    padding-bottom: 75%;
    margin: 3% auto;
    text-align: center;
}
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 86%;
    left: 0;
    top: 0;
}




/* 右键菜单 */
#rightMenu {
    display: none;
    position: fixed;
    width: 160px;
    height: fit-content;
    top: 10%;
    left: 10%;
    /* 菜单面板背景色 */
    background-color: var(--card-bg);
    /* 菜单面板文字颜色 */
    border: 1px solid var(--font-color);
    border-radius: 8px;
    z-index: 100;
}
#rightMenu .rightMenu-group {
    padding: 7px 6px;
}
#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
    border-bottom: 1px solid var(--font-color);
}
#rightMenu .rightMenu-group.rightMenu-small {
    display: flex;
    justify-content: space-between;
}
#rightMenu .rightMenu-group .rightMenu-item {
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    transition: 0.3s;
    color: var(--font-color);
}
#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 0 4px;
}
#rightMenu .rightMenu-group .rightMenu-item:hover {
    /* 鼠标悬浮选项颜色 */
    background-color: var(--text-bg-hover);
}
#rightMenu .rightMenu-group .rightMenu-item i {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 0 5px;
}
#rightMenu .rightMenu-group .rightMenu-item span {
    line-height: 30px;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item * {
    height: 40px;
    line-height: 40px;
}
.rightMenu-group.hide {
    display: none;
}




#todolist-box{
    margin: 0 10px;
}
#todolist-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 0 10px;
}
#todolist-main li{
    list-style:none;
    font-size: 17px;
}
#todolist-main ul{
    margin: 0;
    padding: 0;
}
#todolist-left{
    width: 50%;
    padding: 0 8px 0 0;
}
#todolist-right{
    width: 50%;
    padding: 0 0 0 8px;
}
.todolist-item{
    position: relative;
    background: #fae4df;
    border-radius: 12px;
    padding: 10px 1rem 1.2rem;
    border: 2px dashed #f7a796;
    margin-bottom: 1rem;
}
[data-theme=dark]
.todolist-item{
    background: #242424;
    border: 2px dashed #51908b;
}
li.todolist-li i{
    margin-left: 10px;
}
h3.todolist-title{
    margin: 0!important;
    border-bottom: var(--todo-border);
}
li.todolist-li{
    border-bottom: var(--todo-border);
    font-weight: normal;
}
.todolist-li span{
    margin-left: 5px;
}
@media screen and (max-width:700px){
    #todolist-left,#todolist-right{
        width: 100%;
        padding: 0;
    }
}
.page-top-card{
    background-size: cover;
    background-position: center;
    height: 20.5rem;
    padding: 10px 2.7rem;
    border-radius: 20px;
    color: white;
    position: relative;
}
.page-top-card span.content-item-title{
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1.2;
    font-family: STZhongsong,'Microsoft YaHei';
}
.page-top-card .content-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - 5.4rem);
    bottom: 1rem;
}
[data-theme='dark'] .page-top-card{
    opacity: .92;
}



/* 帧率检测 */
#fps {
    position: fixed;
    /* 指定位置 */
    left: 10px;
    bottom: 10px;
    z-index: 1919810;
}
[data-theme="light"] #fps {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: var(--backdrop-filter);
    padding: 4px;
    border-radius: 4px;
}
[data-theme="dark"] #fps {
    background-color: rgba(0, 0, 0, 0.72);
    backdrop-filter: var(--backdrop-filter);
    padding: 4px;
    border-radius: 4px;
}



/* 波浪css */
.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 5;
}
.waves-area .waves-svg {
    width: 100%;
    height: 5rem;
}
/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #f7f9febd;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #f7f9fe82;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #f7f9fe36;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #18171d;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves-area .waves-svg {
        height: 40px;
        min-height: 40px;
    }
}



/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
}
@keyframes huxi_light {
    0% {
        box-shadow: 0px 0px 1px 1px #23a6d5;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #23a6d5;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #23a6d5;
    }
}
@keyframes huxi_dark {
    0% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #39c5bb;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
}


.loading-img {
    background: url(https://picbed.sch-nie.com/img/SCHNIE.png) no-repeat center center;
    background-size: cover;
}